.marquee {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.marquee > h1 {
  text-align: center;
  font-size: 4vw;
  text-transform: uppercase;
  font-family: "Avenir", Arial;
  margin: none;
  padding: none;
}

.marquee::before,
.marquee::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 10vw;
  z-index: 2;
  bottom: 0;
}

.marquee::after {
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.marquee::before {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.marquee > .slide-track {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 100px;
  margin: 0;
  padding: 0;
}

.marquee > .slide-track > .slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
}

.marquee > .slide-track > .slide > img {
  pointer-events: none;
  user-select: none;
  height: 90%;
}