nav {
    background-color: #202020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 56px;
    left: 0;
    right: 0;
    padding: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px 5px black;
}

nav > .logo {
    color: white;
    flex-basis: 15%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.75vw;
    text-decoration: none;
}

nav > .menu {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

nav > .menu > a {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    padding: 1% 2%;
    text-transform: uppercase;
    flex-basis: 15%;
    text-decoration: none;
    color: #ececec;
    font-size: 1vw;
    white-space: pre-line;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
}

nav > .menu > a:hover {
    color: white;
    cursor: pointer;
    background-color: #303030;
}

nav > .menu > a.sponsor {
    background-color: #82170c;
}

nav > .menu > a.sponsor:hover {
    background-color: rgba(128, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    nav > .menu > a {
        height: 75%;
    }
  }